<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url-Shorter-App</title>
  </head>
  <body>
    <h1>EJS Template Engine</h1>
    <p>The best engine which help to render the html file on server</p>
  </body>
</html>
