<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('./components/bootstrap_link.ejs') %>
    <title>Blogify | Home | Page</title>
  </head>
  <body class="container">
    <%- include('./components/nav.ejs') %>
    <main class="mt-2">
      <h1>Home | Page</h1>
    </main>
    <%- include('./components/bootstrap_script.ejs') %>
  </body>
</html>
